name: game_asset_sprites
description: Sprite assets for the game
version: 0.1.0
publish_to: none

environment:
  sdk: ^3.9.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

flutter:
  assets:
    - assets/
