name: app_widget_common
description: Generic reusable Flutter widgets
version: 0.1.0
publish_to: none

environment:
  sdk: ^3.9.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  app_lib_core:
    path: ../../app_lib/core

dev_dependencies:
  flutter_test:
    sdk: flutter
